<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheets" href="/stylesheets/style.css">
    <title>My Skills</title>
</head>
<body>
    <h1>My Skills</h1>
    <a href="/skills">Skill List</a>
    <ul>
        <% skills.forEach(function(sk) {%>
            <li>
                <a href="/skills/<%= sk.id%>"><%= sk.skill %></a>
                <!-- <%= sk.skill %> -->
                <%= sk.mastery ? 'mastered' : 'not mastered'%>
            </li>
        <% }); %>
    </ul>
</body>
</html>